#nav {
  border: 10px solid black;
  position: static;
}

#btn {
  display: flex;
  flex-direction: row-reverse;
}

#start {
  position: relative;
  align-items: flex-end;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #4CAF50; //green
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#start:hover {
  background-color: white;
  color: black;
}

#end {
  position: relative;
  align-items: flex-end;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #f44336; //red
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#end:hover {
  background-color: white;
  color: black;
}

#init {
  position: relative;
  align-items: flex-end;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  background-color: gray;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#init:hover {
  background-color: white;
  color: black;
}

#timer {
  background-color: white;
  position: fixed;
  left: 0;
  font-size: 2rem;
  border: 2px black solid;
  border-radius: 10px;
}
#headline {
  display:inline-block;
}
#credit {
  display: inline-block;
  position: relative;
  right: 0;
}

.answer .numbers {
  display: inline;
  padding: 0.8rem;
  font-size: 0.9rem;
  color: gray;
}

.array .numbers {
  display: inline;
  padding: 1.5rem;
}
.main{
  color: black;
  font-size: 4rem;
}
.left{
  color: black;
  font-size: 4rem;
}
.already {
  color: gray;
}


.node {
  text-align: center;
}
.BoardEle {
  margin-bottom: 0.5rem;
}
.scoreList {
  font-size: 0.8rem;
}
.good {
  background-color: #4CAF50;
}
.bad {
  background-color: #f44336;
}
@media (max-width:1080px) {
  .answer .numbers {
    display: inline;
    padding: 0.8rem;
    font-size: 0.8rem;
    color: gray;
  }

  .array .numbers {
    padding: 1.3rem;
  }
  .main{
    font-size: 3rem;
  }
  .left{
    font-size: 3rem;
  }
  .already {
    font-size: 2rem;
  }
  #timer {
    background-color: white;
    position: fixed;
    left: 0;
    font-size: 1.5rem;
    border: 2px black solid;
    border-radius: 8px;
  }
  #init {
    font-size:1.8rem;
  }
  #start {
    font-size:1.2rem;
  }
  #end {
    font-size:1.2rem;
  }
}
@media (max-width:960px) {
  .answer .numbers {
    display: inline;
    padding: 0.8rem;
    font-size: 0.6rem;
    color: gray;
  }

  .array .numbers {
    display: inline;
    padding: 1.2rem;
  }
  .main{
    color: black;
    font-size: 2rem;
  }
  .left{
    color: black;
    font-size: 2rem;
  }
  #timer {
    background-color: white;
    position: fixed;
    left: 0;
    font-size: 1.2rem;
    border: 2px black solid;
    border-radius: 8px;
  }
  #init {
    font-size:1.5rem;
  }
  #start {
    font-size:1rem;
  }
  #end {
    font-size:1rem;
  }
}
@media (max-width:730px) {
  .answer .numbers {
    display: inline;
    padding: 0.6rem;
    font-size: 0.4rem;
    color: gray;
  }

  .array .numbers {
    display: inline;
    padding: 0.6rem;
  }
  .main{
    color: black;
    font-size: 1rem;
  }
  .left{
    color: black;
    font-size: 1rem;
  }
  #timer {
    background-color: white;
    position: fixed;
    left: 0;
    font-size: 1rem;
    border: 2px black solid;
    border-radius: 8px;
  }
  #init {
    font-size:1.2rem;
  }
  #start {
    font-size:0.8rem;
  }
  #end {
    font-size:0.8rem;
  }
  #headline {
    font-size: 80%;
  }
  #credit {
    font-size: 60%;
  }
}
@media (max-width:380px) {
  .answer .numbers {
    display: inline;
    padding: 0.6rem;
    font-size: 0.4rem;
    color: gray;
  }

  .array .numbers {
    display: inline;
    padding: 0.4rem;
  }
  .main{
    color: black;
    font-size: 1rem;
  }
  .left{
    color: black;
    font-size: 1rem;
  }
  .already {
    font-size: 0.1rem;
  }
  .leftNum {
    font-size: 0.1rem;
  }
  #timer {
    background-color: white;
    position: fixed;
    left: 0;
    font-size: 0.8rem;
    border: 2px black solid;
    border-radius: 8px;
  }
  #init {
    font-size:1.2rem;
  }
  #start {
    font-size:0.8rem;
  }
  #end {
    font-size:0.8rem;
  }
  #input {
    size: 80%;
  }
  #undo {
    size: 80%;
  }
}
